.offers{
    display: flex;
    width: 60%;
    height: 70vh;
    margin-top:250px;
    margin-left: 120px;
    padding: 0px 140px;
    margin-bottom: 100px;
    background:linear-gradient(180deg, #fde1ff, #e1ffea22 60%) ;
} 
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: black;
    font-size: 75px;
    font-weight: 600;
}
.offers-left p{
    color: black;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 200px;
    height: 50px;
    border-radius: 35px;
    background: orange;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}
.offers-right img{
    width: 300px;
}

@media(max-width:1024px){
    .offers{
        width: 730px;
    }
}
@media(max-width:768px){
    .offers{
        margin-top: 2350px;
    }
}