.offers {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1200px;
    height: auto;
    margin: 100px auto;
    padding: 40px 20px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    box-sizing: border-box;
    border-radius: 10px;
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.offers-left h1 {
    color: black;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.offers-left p {
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.offers-left button {
    width: 200px;
    height: 50px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: orange;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.offers-right img {
    width: 100%;
    max-width: 300px;
}

/* Tablets */
@media (max-width: 1024px) {
    .offers-left h1 {
        font-size: 2.5rem;
    }
    .offers {
        // flex-direction: column;
        align-items: center;
        padding: 30px 20px;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .offers {
        margin-top: 100px;
    }

    .offers-left h1 {
        font-size: 2rem;
    }

    .offers-left p {
        font-size: 1rem;
    }

    .offers-left button {
        width: 100%;
        font-size: 1rem;
    }

    .offers-right img {
        max-width: 250px;
    }
}
/* Small phones - 320px */
@media (max-width: 320px) {
    .offers-left h1 {
        font-size: 1.6rem;
    }

    .offers-left p {
        font-size: 0.9rem;
    }

    .offers-left button {
        width: 100%;
        font-size: 0.9rem;
    }

    .offers-right img {
        max-width: 200px;
    }
}

/* Slightly larger phones - 375px */
@media (max-width: 375px) {
    .offers-left h1 {
        font-size: 1.8rem;
    }

    .offers-left p {
        font-size: 1rem;
    }

    .offers-left button {
        font-size: 1rem;
    }

    .offers-right img {
        max-width: 220px;
    }
}

/* Phones like Pixel 4a / iPhone X - 425px */
@media (max-width: 425px) {
    .offers{
        flex-direction: column-reverse;
    }
    .offers-left h1 {
        font-size: 2rem;
    }

    .offers-left p {
        font-size: 1.1rem;
    }

    .offers-left button {
        font-size: 1.05rem;
    }

    .offers-right img {
        width: 340px;
    }
}
