.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.popular h1{
    color: black;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 300px;
    height: 4px;
    border-radius: 10px;
    background: orange;
    border: none;
}
.popular-item{
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    // justify-content: space-between;
    gap: 30px;
    width:900px;
    height: 200px;
    cursor: pointer;
}

@media(max-width:768px){
    .popular{
        margin-top: 700px;
        width: 500px;
        margin-left: 00px;
    }
    .popular h1{
        margin-left: 450px;
        width: 500px;
    }
    .popular hr{
        margin-left: 450px;
    }
    .popular-item{
        display: inline-block;
        // flex-wrap: wrap;
        margin-left: 200px;
    }
}
@media(max-width:1024px){
    .popular{
        margin-left: 200px;
    }
}