.breadcrum {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin: 10px 70px;
    
}

.breadcrum img {
    width: 20px;
    height: auto;
    color: grey;
}

.breadcrum label {
    font-size: 18px;
    color: #333;
}

/* ---------- Responsive Media Queries ---------- */

/* Tablets and below */
@media (max-width: 768px) {
    .breadcrum {
        font-size: 16px;
        margin-top: 60px;
        margin-left: 180px;
    }
}

/* Large phones */
@media (max-width: 426px) {
    .breadcrum {
        margin: 8px 20px;
        gap: 4px;
        margin-left: 60px;
        margin-top: 70px;
    }

    .breadcrum label {
        font-size: 16px;
    }

    .breadcrum img {
        width: 18px;
    }
}

/* Small phones */
@media (max-width: 320px) {
    .breadcrum {
       margin-top: 70px;
       margin-left: 70px;
       gap: 4px;
    }

    .breadcrum label {
        font-size: 14px;
    }

    .breadcrum img {
        width: 16px;
    }
}
