.breadcrum{
    // display: flex;
    // align-items: center;
    margin: 0px 70px;
    margin-top: 10px;
}
.breadcrum img{
    width: 35px;
    height: 16px;
    color: grey;
}
.breadcrum label{
    font-size: 20px;
}
@media(max-width:768px){
    .breadcrum{
       margin-left: 310px;
    }
    .productname{
        display: flex;
        width:610px;
        margin-top: -27px;
        margin-left: 250px;
    }
}
@media(max-width:425px){
    .productname{
        font-size: 200px;
        
    }
}