* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5%;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    flex-wrap: wrap;
}

.home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1;
    padding: 20px;
}

.home-left h2 {
    color: black;
    font-size: 1.6rem;
    font-weight: 900;
}

.home-description {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-description p {
    color: black;
    font-size: 1.8rem;
}

.home-description label {
    font-size: 2rem;
    font-weight: 700;
}

.hand-image {
    display: flex;
    align-items: center;
}

.hand-image h2 span {
    color: orange;
}

.home-left img {
    width: 80px;
}

.shop-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background-color: orange;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.shop-btn p {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.shop-btn label {
    color: white;
    margin-left: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.shop {
    text-decoration: none;
}

.home-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.home-right img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* Tablet (max-width: 1024px) */
@media (max-width: 1024px) {
    .home {
        // flex-direction: column-reverse;
        padding: 30px 5%;
        text-align: center;
    }

    .home-left h2 {
        font-size: 1.4rem;
        margin-left: 70px;
    }

    .home-description p {
        font-size: 1.5rem;
    }

    .home-description label {
        font-size: 1.8rem;
    }

    .home-left img {
        width: 70px;
    }

    .home-right img {
        max-width: 400px;
    }
    .shop-btn{
        margin-left: 150px;
    }
}


/* Small devices (max-width: 768px) */
@media (max-width: 768px) {
    .home {
        flex-direction: column-reverse;
        padding: 30px 5%;
        text-align: center;
    }
}

/* Mobile - 425px and below */
@media (max-width: 426px) {
    .home {
        padding: 20px 4%;
    }

    .home-left {
        padding: 10px;
        align-items: center;
    }

    .home-left h2 {
        font-size: 1.2rem;
    }

    .home-description p {
        font-size: 1.2rem;
    }

    .home-description label {
        font-size: 1.5rem;
    }

    .shop-btn {
        width: 120px;
        height: 45px;
        margin-left: 0px;
    }

    .shop-btn p {
        font-size: 1rem;
    }

    .shop-btn label {
        font-size: 1.2rem;
    }

    .home-right img {
        max-width: 300px;
    }
}

/* 375px */
@media (max-width: 375px) {
    .home{
        margin-top: 30px;
    }
    .home-description p {
        font-size: 1.1rem;
    }

    .home-description label {
        font-size: 1.4rem;
    }

    .home-left h2 {
        font-size: 1rem;
    }
}

/* 320px */
@media (max-width: 320px) {
    .home{
        max-width: 350px;
    }
    .home-description p {
        font-size: 1rem;
    }

    .home-description label {
        font-size: 1.2rem;
    }

    .home-left h2 {
        font-size: 0.9rem;
    }

    .home-right img {
        max-width: 250px;
    }
}
